{% extends "GBLouvreBundle::layout.html.twig" %}

{% block stylesheets_enfant %}
    <link rel="stylesheet" href="{{ asset('css/prepare.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block body %}
        <section class="col-sm-8 col-sm-offset-2 table-responsive">
            <table class="table table-bordered table-striped table-condensed well">
                <caption>
                    <h4 class="well">Récapitulatif de la visite du: <strong>{{ date }}</strong></h4>
                </caption>
                <thead>
                <tr>
                    <th id="alignement">Visiteur</th>
                    <th id="alignement">Tarif</th>
                    <th id="alignement">Prix</th>
                </tr>
                </thead>

                <tbody>
                <p>{% for visiteur in formulaires.visiteurs %}
                        <tr>
                            <td align="center">{{ visiteur.nom }} {{ visiteur.prenom }}</td>
                            <td align="center">{{ visiteur.tarif }} </td>
                            <td align="center">{{ visiteur.prix }}€</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td align="center"><strong>Total</strong></td>
                        <td align="center"><strong>{{ formulaires.total }}€</strong></td>
                    </tr>
                </p>
                </tbody>
            </table>
        </section>
    <div id="wrapper" class="col-sm-2 col-sm-offset-9">

        <form action="{{ path('order_checkout', {'id': formulaires.id}) }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-image= 'https://stripe.com/img/documentation/checkout/marketplace.png', {#Mettre le petit icone vert#}
                    data-key="pk_test_faXwYxVSQ4pwdo1fprEvXRaS"
                    data-amount="{{ formulaires.total *100}}" {# Prix qui s'affiche pour la validation, miltiplier par 100 pour avoir la valeur en euros#}
                    data-name="Billetterie du Louvre"
                    data-description="" {#widget#}
                    data-locale="auto"
                    data-zip-code="true"
                    data-currency="eur">
            </script>
        </form>

    </div>
{% endblock %}
{% block js_enfant %}
    <script src="{{ asset('js/prepare.js') }}"></script>
{% endblock %}

{#
{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>



{% endblock %}#}
