<p>Voici le résultat {{ formulaires.id }} </p>
<p>{% for visiteur in formulaires.visiteurs %}
        {{ visiteur.nom }}
        {{ visiteur.prenom }}
        {{ visiteur.pays }}
        {{ visiteur.tarifReduit }}
    {% endfor %}
</p>